# Dependencies
/node_modules

# Sensitive Information
api_credentials.json
credentials.json
amazon-de-cookie.json
amazon-es-cookie.json
amazon-fr-cookie.json
amazon-it-cookie.json

# User data
user-data-dir-2/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env